body {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    line-height: .5;
}

h1.head {
    text-align: left;
    margin-bottom: 115px;
    margin-top: 115px;
    margin-left: 55px;
    font-size: 50px;
}

ul li {
    color: #ffffff;
    text-align: left;
}
  
h4 {
    font-size: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

img.wood {
    width: 500px;
    height: 1000px;
    float: right;
    position: relative; top: -200px;
}

a.right {
    margin-left: 50px;
    margin-top: 20px;
}

a.left {
    margin-right: 50px
}

p {
    font-size: 22px;
}